* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

input {
  margin-right: 1%;
}

main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}
